Options -Indexes
Options +FollowSymlinks -MultiViews

Header set Access-Control-Allow-Origin "*"

RewriteEngine On

# 403 forbidden sayfa hatası yönlendirme
ErrorDocument 403 http://localhost/story/404.php

# 404 sayfa hatası yönlendirme
ErrorDocument 404 http://localhost/story/404.php